{
    "ServerURL": "ldap://accountprovider:${LDAP_PORT}",
    "useTLS": "no",
    "followReferrals": "false",
    "pagedResults": "false",
    "adShowDeleted": "false",
    "Passwd": "{SSHA}3irB6JbX8hrfOE9Bv0kC8MhB7p8= r42VpA==",
    "Admins": "${LDAP_ADMIN_USERS}",
    "defaultLanguage": "en_US.utf8",
    "scriptPath": "",
    "scriptServer": "",
    "scriptRights": "750",
    "serverDisplayName": "${LDAP_DOMAIN}",
    "activeTypes": "user,group,host",
    "accessLevel": "100",
    "loginMethod": "${LAM_LOGIN_METHOD}",
    "loginSearchSuffix": "${LDAP_BASE}",
    "loginSearchFilter": "sAMAccountName=%USER%",
    "searchLimit": 0,
    "lamProMailFrom": "noreply@example.com",
    "lamProMailReplyTo": "",
    "lamProMailSubject": "Your password was reset",
    "lamProMailText": "Dear @@givenName@@ @@sn@@,+::++::+your password was reset to: @@newPassword@@+::++::++::+Best regards+::++::+deskside support+::+",
    "lamProMailIsHTML": "false",
    "lamProMailAllowAlternateAddress": "true",
    "httpAuthentication": "false",
    "loginSearchDN": "cn=ldapservice,CN=Users,${LDAP_BASE}",
    "loginSearchPassword": "${LDAP_PASS}",
    "timeZone": "UTC",
    "jobsBindUser": "",
    "jobsBindPassword": "",
    "jobsDatabase": "SQLite",
    "jobsDBHost": "",
    "jobsDBPort": "",
    "jobsDBCaPath": null,
    "jobsDBUser": "",
    "jobsDBPassword": "",
    "jobsDBName": "",
    "pwdResetAllowSpecificPassword": "true",
    "pwdResetAllowScreenPassword": "true",
    "pwdResetForcePasswordChange": "true",
    "pwdResetDefaultPasswordOutput": "2",
    "scriptUserName": "",
    "scriptSSHKey": "",
    "scriptSSHKeyPassword": "",
    "twoFactorAuthentication": "none",
    "twoFactorAuthenticationURL": "https://localhost",
    "twoFactorAuthenticationInsecure": false,
    "twoFactorAuthenticationLabel": "",
    "twoFactorAuthenticationOptional": false,
    "twoFactorAuthenticationCaption": "",
    "twoFactorAuthenticationClientId": "",
    "twoFactorAuthenticationSecretKey": "",
    "twoFactorAuthenticationDomain": "",
    "twoFactorAuthenticationAttribute": "uid",
    "twoFactorAllowToRememberDevice": "false",
    "twoFactorRememberDeviceDuration": "28800",
    "twoFactorRememberDevicePassword": "M.gIZEISM-zJOLAWOnKrfJdEi68lvC",
    "referentialIntegrityOverlay": "false",
    "hidePasswordPromptForExpiredPasswords": "false",
    "hideDnPart": "CN=Users,${LDAP_BASE}",
    "pwdPolicyMinLength": "",
    "pwdPolicyMinLowercase": "",
    "pwdPolicyMinUppercase": "",
    "pwdPolicyMinNumeric": "",
    "pwdPolicyMinSymbolic": "",
    "typeSettings": {
        "suffix_user": "${LDAP_BASE}",
        "attr_user": "#cn;#displayName",
        "modules_user": "windowsUser",
        "suffix_group": "${LDAP_BASE}",
        "attr_group": "#cn;#description;#member",
        "modules_group": "windowsGroup",
        "suffix_host": "${LDAP_BASE}",
        "attr_host": "#cn;#description",
        "suffix_smbDomain": "${LDAP_BASE}",
        "attr_smbDomain": "#sambaDomainName;#sambaSID",
        "modules_host": "windowsHost"
    },
    "moduleSettings": {
        "windowsGroup_hidemail": [
            "false"
        ],
        "windowsGroup_hidemanagedBy": [
            "false"
        ],
        "windowsGroup_hidemsSFU30Name": [
            "true"
        ],
        "windowsGroup_hidemsSFU30NisDomain": [
            "true"
        ],
        "windowsUser_displayGroups": [
            "CN"
        ],
        "windowsUser_hidebusinessCategory": [
            "true"
        ],
        "windowsUser_hidecarLicense": [
            "true"
        ],
        "windowsUser_hidecompany": [
            "true"
        ],
        "windowsUser_hidedepartment": [
            "true"
        ],
        "windowsUser_hidedepartmentNumber": [
            "true"
        ],
        "windowsUser_hidedescription": [
            "false"
        ],
        "windowsUser_hidedisplayName": [
            "false"
        ],
        "windowsUser_hidemail": [
            "false"
        ],
        "windowsUser_hideotherMailbox": [
            "false"
        ],
        "windowsUser_hideemployeeNumber": [
            "true"
        ],
        "windowsUser_hideemployeeType": [
            "true"
        ],
        "windowsUser_hidefacsimileTelephoneNumber": [
            "false"
        ],
        "windowsUser_hidehomeDirectory": [
            "false"
        ],
        "windowsUser_hidehomeDrive": [
            "false"
        ],
        "windowsUser_hideinitials": [
            "false"
        ],
        "windowsUser_hidetitle": [
            "true"
        ],
        "windowsUser_hidelastLogonTimestamp": [
            "false"
        ],
        "windowsUser_hidepwdLastSet": [
            "false"
        ],
        "windowsUser_hidel": [
            "false"
        ],
        "windowsUser_hidescriptPath": [
            "false"
        ],
        "windowsUser_hidemanager": [
            "true"
        ],
        "windowsUser_hidemobile": [
            "false"
        ],
        "windowsUser_hidemsSFU30NisDomain": [
            "true"
        ],
        "windowsUser_hidemsSFU30Name": [
            "true"
        ],
        "windowsUser_hidephysicalDeliveryOfficeName": [
            "false"
        ],
        "windowsUser_hideo": [
            "true"
        ],
        "windowsUser_hideou": [
            "true"
        ],
        "windowsUser_hideotherMobile": [
            "true"
        ],
        "windowsUser_hideotherPager": [
            "true"
        ],
        "windowsUser_hideotherTelephone": [
            "false"
        ],
        "windowsUser_hideurl": [
            "false"
        ],
        "windowsUser_hidepager": [
            "true"
        ],
        "windowsUser_hidejpegPhoto": [
            "true"
        ],
        "windowsUser_hidepostOfficeBox": [
            "false"
        ],
        "windowsUser_hidepostalCode": [
            "false"
        ],
        "windowsUser_hideprofilePath": [
            "false"
        ],
        "windowsUser_hideproxyAddresses": [
            "true"
        ],
        "windowsUser_hideRequireSmartcard": [
            "false"
        ],
        "windowsUser_hidest": [
            "false"
        ],
        "windowsUser_hidestreetAddress": [
            "false"
        ],
        "windowsUser_hidetelephoneNumber": [
            "false"
        ],
        "windowsUser_hidesAMAccountName": [
            "true"
        ],
        "windowsUser_hidewWWHomePage": [
            "false"
        ],
        "windowsUser_hideWorkstations": [
            "false"
        ]
    },
    "toolSettings": {
        "treeViewSuffix": "${LDAP_BASE}",
        "tool_hide_toolFileUpload": "false",
        "tool_hide_ImportExport": "false",
        "tool_hide_toolMultiEdit": "false",
        "tool_hide_toolOUEditor": "false",
        "tool_hide_toolPDFEditor": "false",
        "tool_hide_toolProfileEditor": "false",
        "tool_hide_toolSchemaBrowser": "false",
        "tool_hide_toolServerInformation": "false",
        "tool_hide_toolTests": "false",
        "tool_hide_TreeViewTool": "false",
        "tool_hide_toolWebauthn": "false"
    },
    "jobSettings": []
}
