{
    "ServerURL": "ldap://accountprovider:${LDAP_PORT}",
    "useTLS": "no",
    "followReferrals": "false",
    "pagedResults": "false",
    "adShowDeleted": "false",
    "Passwd": "{SSHA}3irB6JbX8hrfOE9Bv0kC8MhB7p8= r42VpA==",
    "Admins": "${LDAP_ADMIN_USERS}",
    "defaultLanguage": "en_US.utf8",
    "scriptPath": "",
    "scriptServer": "",
    "scriptRights": "750",
    "serverDisplayName": "${LDAP_DOMAIN}",
    "activeTypes": "user,group",
    "accessLevel": "100",
    "loginMethod": "${LAM_LOGIN_METHOD}",
    "loginSearchSuffix": "${LDAP_BASE}",
    "loginSearchFilter": "uid=%USER%",
    "searchLimit": 0,
    "lamProMailFrom": "noreply@example.com",
    "lamProMailReplyTo": "",
    "lamProMailSubject": "Your password was reset",
    "lamProMailText": "Dear @@givenName@@ @@sn@@,+::++::+your password was reset to: @@newPassword@@+::++::++::+Best regards+::++::+deskside support+::+",
    "lamProMailIsHTML": "false",
    "lamProMailAllowAlternateAddress": "true",
    "httpAuthentication": "false",
    "loginSearchDN": "cn=ldapservice,${LDAP_BASE}",
    "loginSearchPassword": "${LDAP_PASS}",
    "timeZone": "UTC",
    "jobsBindUser": "",
    "jobsBindPassword": "",
    "jobsDatabase": "SQLite",
    "jobsDBHost": "",
    "jobsDBPort": "",
    "jobsDBCaPath": null,
    "jobsDBUser": "",
    "jobsDBPassword": "",
    "jobsDBName": "",
    "pwdResetAllowSpecificPassword": "true",
    "pwdResetAllowScreenPassword": "true",
    "pwdResetForcePasswordChange": "true",
    "pwdResetDefaultPasswordOutput": "2",
    "scriptUserName": "",
    "scriptSSHKey": "",
    "scriptSSHKeyPassword": "",
    "twoFactorAuthentication": "none",
    "twoFactorAuthenticationURL": "https://localhost",
    "twoFactorAuthenticationInsecure": false,
    "twoFactorAuthenticationLabel": "",
    "twoFactorAuthenticationOptional": false,
    "twoFactorAuthenticationCaption": "",
    "twoFactorAuthenticationClientId": "",
    "twoFactorAuthenticationSecretKey": "",
    "twoFactorAuthenticationDomain": "",
    "twoFactorAuthenticationAttribute": "uid",
    "twoFactorAllowToRememberDevice": "false",
    "twoFactorRememberDeviceDuration": "28800",
    "twoFactorRememberDevicePassword": "aEGazmS.2-rIB4pJ1pkzupPwPrRuPn",
    "referentialIntegrityOverlay": "false",
    "hidePasswordPromptForExpiredPasswords": "false",
    "hideDnPart": "ou=People,${LDAP_BASE}",
    "pwdPolicyMinLength": "",
    "pwdPolicyMinLowercase": "",
    "pwdPolicyMinUppercase": "",
    "pwdPolicyMinNumeric": "",
    "pwdPolicyMinSymbolic": "",
    "typeSettings": {
        "suffix_user": "${LDAP_BASE}",
        "attr_user": "#uid;#displayName",
        "modules_user": "inetOrgPerson,posixAccount,shadowAccount",
        "suffix_group": "${LDAP_BASE}",
        "attr_group": "#cn;#memberUID;#description",
        "modules_group": "posixGroup"
    },
    "moduleSettings": {
        "posixAccount_user_minUID": [
            "10000"
        ],
        "posixAccount_user_maxUID": [
            "30000"
        ],
        "posixAccount_host_minMachine": [
            "50000"
        ],
        "posixAccount_host_maxMachine": [
            "60000"
        ],
        "posixGroup_group_minGID": [
            "10000"
        ],
        "posixGroup_group_maxGID": [
            "20000"
        ],
        "posixAccount_user_uidGeneratorUsers": [
            "range"
        ],
        "posixAccount_host_uidGeneratorUsers": [
            "range"
        ],
        "posixAccount_group_gidGeneratorUsers": [
            "range"
        ],
        "posixGroup_pwdHash": [
            "SSHA"
        ],
        "posixAccount_pwdHash": [
            "SSHA"
        ]
    },
    "toolSettings": {
        "treeViewSuffix": "${LDAP_BASE}",
        "tool_hide_toolFileUpload": "false",
        "tool_hide_ImportExport": "false",
        "tool_hide_toolMultiEdit": "false",
        "tool_hide_toolOUEditor": "false",
        "tool_hide_toolPDFEditor": "false",
        "tool_hide_toolProfileEditor": "false",
        "tool_hide_toolSchemaBrowser": "false",
        "tool_hide_toolServerInformation": "false",
        "tool_hide_toolTests": "false",
        "tool_hide_TreeViewTool": "false",
        "tool_hide_toolWebauthn": "false"
    },
    "jobSettings": []
}
